
/* Testimony */
.testimony__bg{
    background-color: #00815E;
}
/* Quote */
.quote__bg{
    min-height: 500px;
    background-image: url('../images/quote.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}