

/* General */
.btn__orange{
    background-color: #FF5B00;
    color: #ffffff;
}
.btn__orange:hover{
    background-color: #ff8746;
    color: #ffffff;
}

/* Navbar */

/* Intro */
.intro__bg{
    height: 100vh;
    background-color: #FF5B00;
    color: #ffffff;
}
.intro__icon{
    width: 200px;
    height: auto;
}

/* About us */
.about-us__bg{
    background-color: #0042BC;
    color: #ffffff;
}

/* Renovação KIDS */

/* Escola Renovação */
/* Galeria de fotos */
.photo-gallery__bg{
    background-color: #FF5B00;
    color: #ffffff;
}

/* Enrollment */
.enrollment__img{
    width: -webkit-fill-available;
}

/* Testimony */
.testimony__bg{
    background-color: #00815E;
}
.testimony__avatar{
    max-width: 150px;
}

/* Quote */
.quote__bg{
    min-height: 500px;
    background-image: url('../images/quote.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Footer */