/* font */
@font-face{
    font-family: 'cocogoose';
    src: url(../fonts/cocogoose.otf);
}
@font-face{
    font-family: 'proxima-nova-bold';
    src: url(../fonts/proxima-nova-condensed.otf);
}
@font-face{
    font-family: 'proxima-nova-regular';
    src: url(../fonts/proxima-nova-regular.otf);
}

html, body{
    font-family: 'proxima-nova-regular'!important;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'cocogoose'!important;
}

/* General */
.card__icon{
    height: 80px;
    width: auto;
}
.mx--150{ max-width: 150px; }
.border--white{
    border: 1px solid white;
    border-radius: 12px;
}
button{
    padding: .375rem 3rem!important;
}
.btn--outlined{
    padding: .375rem .75rem!important;
    border: 1px solid #ffffff!important;
    background-color: transparent;
    border-radius: 12px;
    color: #ffffff;
}
.btn--outlined:hover{
    background-color: #933300;
}
.btn--orange{
    background-color: #FF5B00;
    color: #ffffff;
}
.btn--orange:hover{
    background-color: #ff8746;
    color: #ffffff;
}
.btn--green{
    background-color: #038300;
    color: #ffffff;
}
.btn--green:hover{
    background-color: #1dbb1a;
    color: #ffffff;
}
.btn--whats{
    max-width: 560px;
    width: -webkit-fill-available;
}
.carousel-fotos{
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
.bg--light-yellow{
    background-color: #FFFFE4;
}
.bg--transparent{
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.136);
}
.bg--orange{ background-color: #FF5B00;}

/* slick */
.slick-slider{ margin-bottom: 0!important; }
.slick-dots{ bottom: 10px!important; }
.slick-autoplay-toggle-button{ display: none; }
.slick-dots li button .slick-dot-icon:before{ color: #FF5B00!important; }

/* Navbar */

/* Intro */
.intro__bg{
    height: 90vh;
    background-color: #FF5B00;
    color: #ffffff;
}
.intro__icon{
    width: 200px;
    height: auto;
}

/* About us */
.about-us__bg{
    background-color: #0042BC;
    color: #ffffff;
}

/* Renovação KIDS */
.escola-renovacao-kids__bg{
    height: 90vh;
    background-color: #FFFFE4;
    color: #FF5B00;
}

/* Escola Renovação */
.escola-renovacao__bg{
    height: 90vh;
    background-color: #FF5B00;
    color: #ffffff;
}

/* Galeria de fotos */
.photo-gallery__bg{
    background-color: #FF5B00;
    color: #ffffff;
}
.photo-gallery__title__decoration{
    max-width: 180px;
}
.photo-gallery__mini{
    margin: 1%;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    cursor: pointer;
}
.photo-gallery__mini:hover{
    opacity: 1;
}
#imgtext {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: white;
    background-color: #00000059;
    font-size: 20px;
    width: 94%;
}

/* Enrollment */
.enrollment__img{
    width: -webkit-fill-available;
}

/* Testimony */
.testimony__bg{
    background-color: #00815E;
    background-image: url('../images/testimony-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.testimony__avatar{
    max-width: 150px;
}
.testimony__name{
    font-family: 'proxima-nova-bold';
    font-size: 26px;
}

/* Quote */
.quote__bg{
    min-height: 500px;
    background-image: url('../images/quote.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Footer */

/* Responsive */
@media screen and (min-width: 900px){
    .intro__bg{
        background-image: url('../images/intro-harpia.png');
        background-repeat: no-repeat;
        background-position: left;
    }
    .escola-renovacao__bg{
        background-image: url('../images/teenager.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }
    .escola-renovacao-kids__bg{
        background-image: url('../images/kid.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    .flex-direction__desktop{
        flex-direction: row-reverse;
    }
}